@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
* {
    text-decoration: underline;
    font-family: "Griffy" , sans-serif;
}

p {
    color: rebeccapurple
}

body {
    background-image: url(ada.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table, th, td {
    border: 1px solid purple;
    border-collapse: collapse;
    margin: 50px

}
 td {
    padding: 10px ;
 }