@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
* {
    text-decoration: underline;
    font-family: "Griffy" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rebeccapurple
}

body {
    background-image: url(ada.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table, th, td {
    border: 1px solid purple;
    border-collapse: collapse;
    margin: 50px

}
 td {
    padding: 10px ;
 }

nav{
    background-color: rgb(252, 170, 62);
    padding: 1rem;
    position: sticky;
    top: 0;
}

#img-ada {
    opacity: 0.5;
}
#img-ada:hover {
    opacity:1; 
}
